{% extends 'home/base.htm' %}

{% block content %}


<div style="background:rgb(150, 222, 246);">
    <p style="font-family: 'Staatliches', cursive; color:rgb(243, 69, 69); padding-top: 60px;font-size:150px;">
        Hello! You're At Blue Moon.
    </p>
    <p style="font-family: 'Staatliches', cursive; color:rgb(62, 10, 126);font-size:75px;">
        I hope you enjoy. <br> - Kaushal Patil
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}
