{% extends 'music/base.htm' %}
{% block content %}
<style>
    .head {
        text-shadow: 0 0 7px rgb(58, 58, 58), 0 0 15px rgb(56, 56, 56);
        font-family: 'Staatliches', cursive;
        color: rgb(250, 250, 250);
        font-size: 3vw;

    }

    .tex {
        text-shadow: 0 0 7px rgb(58, 58, 58), 0 0 15px rgb(56, 56, 56);
        font-family: 'Staatliches', cursive;
        color: rgb(250, 250, 250);
        font-size: 2vw;
    }

    .cardback {
        background: rgb(49, 49, 49);

    }
    .cardbut {
        background: rgb(19, 19, 19);
        border-color:rgb(69, 69, 69) ;

    }


</style>

<div style="background:rgb(49, 49, 49); padding-top:78.5px;">
    <p style="font-family: 'Staatliches', cursive; color:rgb(243, 69,69);font-size:75px;">
        Enjoy My Music
    </p>

    {% for muse in music %}

    <div class="card flex-row flex-wrap cardback">
        <div class="card-header border-0 cardback ">
            <img src="{{muse.albumart.url}}"  class="img-thumbnail" style="max-height:30vw;  height:100%; "  alt="">
        </div>
        <div class="card-block px-2 cardback">
            <h4 class="card-title head"><br>{{muse.artistname}} - {{muse.name}} </h4>
            <p class="card-text tex">{{muse.albumname}}<br>{{muse.description}}</p>
            <a href="{{muse.link}}" class="btn btn-primary  cardbut tex" style="max-height:5vw; ">Listen</a>
            <br><br>

        </div>
        <div class="w-100"></div>

    </div>
    {% endfor %}
</div>


{% endblock %}
