{% extends 'music/base.htm' %}
{% block content %}
<div style="background:rgb(49, 49, 49);">
    <p style="font-family: 'Staatliches', cursive; color:rgb(243, 69, 69); padding-top: 60px;font-size:150px;">
        Hello! You're At Music.
    </p>
    <p style="font-family: 'Staatliches', cursive; color:rgb(174, 120, 241);font-size:75px;">
        I hope you enjoy. <br> - Kaushal Patil
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>


{% endblock %}
